/materials-python-http-server-/
/venv/
/scratch/test.py
/scratch/Threading.py
/src/data.db
/.idea/misc.xml
/.idea/modules.xml
/.idea/OLED webpage.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/.gitignore
