<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OLED Control</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<nav class="text-centre">
		<h1>OLED Control Panel</h1>
	</nav>
	<div class="nav-title">
		<h1>Screens</h1>
		<div class="nav-forms">
			<form action="" method="post" id="profile_form" class="nav-form">
				<input type="hidden" name="profile_action" value="switch">
				<label>
					Profile:
					<select name="profile" id="profile_select">
						{% for profile in profiles %}
							<option value="{{ profile.id }}"
								{% if profile.id == current_profile.id %}selected{% endif %}>{{ profile.name }}</option>
						{% endfor %}
					</select>
				</label>
			</form>
			<form action="" method="post" id="screen_form" class="nav-form">
				<input type="hidden" name="screen_action" value="switch">
				<label>
					Screen:
					<select name="screen" id="screen_select">
						{% for display in displays %}
							<option value="{{ display.screen_id }}"
								{% if display.screen_id == current_screen.id %}selected{% endif %}
							>Screen {{ forloop.counter }}</option>
						{% endfor %}
					</select>
				</label>
			</form>
		</div>
	</div>
	<!-- Display Box -->
	<div class="container">
		{% for display in displays %}
		<div class="screen-display text-centre">
			<h2>Screen {{ forloop.counter }}</h2>
			<div class="screen">
				<samp>{{ display.data.text }}</samp>
			</div>
		</div>
		{% endfor %}
	</div>
	<br>
	<!-- Profile Edit and Screen Select -->
	<div class="container">
		<form action="" method="post" class="flex-form">
			<label class="item" for="profile_name">
				Profile Name:<br>
				<input type="text" name="profile_name" id="profile_name"
				   placeholder="Enter Profile name" value="{{ current_profile.name }}">
			</label>
			<button class="btn" name="profile_action" value="new">New Profile</button>
			<button class="btn" name="profile_action" value="rename">Rename</button>
			<button class="btn" name="profile_action" value="delete">Delete</button>

			<!-- Send currently selected profile -->
			<input type="hidden" name="profile_id" value="{{ current_profile.id }}">
			<input type="hidden" name="screen_id" value="{{ current_screen.id }}">
		</form>
	</div>
	<br>
	<!-- Cards -->
	<div class="container">
		<!-- Text -->
		<div class="item">
			<h2>Text</h2>
			<form action="" method="post">
				<input type="hidden" name="profile" value="{{ current_profile_id }}">
				<input type="hidden" name="screen_id" value="{{ current_screen.id }}">
				<input type="hidden" name="type" value="Text">
				<label for="text_input">Enter the text to display here:</label>
				<textarea id="text_input" name="text_input" placeholder="Example text" rows="4" cols="20"
				>{% if current_type == "TEXT" %}{{ current_display.data.text }}{% endif %}</textarea>
				<button type="button" class="btn collapsible">More Options</button>
				<div class="collapsible-content">
					<input type="checkbox" id="display_console" name="display_console" value="True"
						{% if current_display.data.console %}checked{% endif %}>
					<label for="display_console">Display text without markup.</label>
				</div>
				<button class="btn">Submit</button>
			</form>
		</div>
		<!-- Timer -->
		<div class="item">
			<h2>Timer</h2>
			<form action="" method="post">
				<input type="hidden" name="profile" value="{{ current_profile_id }}">
				<input type="hidden" name="screen_id" value="{{ current_screen.id }}">
				<input type="hidden" name="type" value="Timer">
					<button class="btn inline" name="timer_val" value="start">Start Timer</button>
					<button class="btn inline" name="timer_val" value="pause"
					>{% if current_display.data.paused %}Resume Timer{% else %}Pause Timer{% endif %}</button>
					<button class="btn inline" name="timer_val" value="reset">Reset Timer</button>
				<button type="button" class="btn collapsible">More Options</button>
				<div class="collapsible-content">
					<label for="timer_name">Custom Name:</label>
					<input type="text" id="timer_name" name="timer_name" placeholder="Timer"
						   value="{{ current_display.data.name }}">
					<label for="timer_update_speed">Interval at which the timer updates (in seconds):</label>
					<input type="text" id="timer_update_speed" name="timer_update_speed"
						   value="{{ current_display.data.delay }}">
				</div>
			</form>
		</div>
		<div class="item">
			<h2>Label</h2>
			<p>content here</p>
		</div>
		<div class="item">
			<h2>Label</h2>
			<p>content here</p>
		</div>
		<div class="item">
			<h2>Label</h2>
			<p>content here</p>
		</div>
	</div>
	<br>
	<script src="../js/script.js"></script>
</body>
</html>
